@page "/"
@inherits IndexController

<div class="d-flex align-items-center mb-3">
    <h1 class="flex-grow-1">Later Lists</h1>
    <button type="button"
            class="btn btn-primary"
            data-toggle="collapse"
            data-target="#createTodoList"
            aria-expanded="false"
            aria-controls="createTodoList"
            @onclick="InitializeNewTodoList">
        <i class="material-icons align-bottom">playlist_add</i>Create&nbsp;List
    </button>
</div>

<TodoListEdit id="createTodoList" TodoList="NewTodoList" OnSave="CreateTodoList" />

<ul class="list-group list-group-flush mt-1">
    @foreach (var todoList in TodoLists)
    {
        <li class="list-group-item list-group-item-action px-0 py-1 d-flex align-items-center">
            <a href="@(NavigationManager.GetPageLink<LaterList>(todoList.Id))" class="flex-grow-1 text-body text-decoration-none">@todoList.Title</a>
            <button type="button" class="btn" @onclick="@(() => RemoveTodoList(todoList))">
                <i class="material-icons pointer text-muted">delete</i>
                <span class="sr-only">Remove todo list</span>
            </button>
        </li>
    }
</ul>