@page "/list/{TodoListId:guid}"
@page "/laterlist/{TodoListId:guid}"
@inherits LaterListController

<h1 class="mb-3">@TodoList.Title</h1>

<ul class="list-group list-group-flush">
    @foreach (var todoItem in TodoList.Items)
    {
        <li class="list-group-item pl-0">
            <TodoItemRow TodoItem="@todoItem" />
        </li>
    }
</ul>
