<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="#">
        <i class="material-icons align-bottom" style="font-size: 1.9rem;">
            playlist_add_check
        </i>
        LaterList
    </a>
</nav>