@inherits TodoItemRowController

<form class="form-inline" @onsubmit="@UpdateTodoItem">
    <label class="sr-only" for="title">Title</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="title" @bind="@TodoItem.Title" />
    
    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="checkbox" id="inlineFormCheck" checked="@TodoItem.IsDone" @onchange="@(eventArgs => SetItemStatus((bool)eventArgs.Value))" />
        <label class="form-check-label" for="inlineFormCheck">
            Done
        </label>
    </div>

    <button type="submit" class="btn btn-secondary mb-2">Update</button>
</form>